# Build outputs
packages/**/dist/
apps/**/dist/
*.tsbuildinfo

# Dependencies
node_modules/
packages/**/node_modules/
apps/**/node_modules/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
.npmrc
