name: Release

permissions:
  id-token: write  # Required for OIDC
  contents: write
  pull-requests: write

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - uses: ./.github/actions/setup

      - name: Preflight workspace package detection
        run: |
          bun pm ls --all | head -n 200

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # After versioning, `bun update` must be run to update the package.json files.
          version: bun run version

          # `bun pm pack` is necessary to replace workspace deps. 
          # But we need `npm publish` to publish via OIDC.
          publish: bun run release
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
          NPM_TOKEN: '' # Workaround to support trusted publishing
